#########不会被提交到git仓库的文件########

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist

# misc
.DS_Store

#本地验证使用的临时配置
.local.ts   

# umi
/src/.umi
/src/.umi-production
/src/.umi-test
/.env.local
